@font-face{
    font-family: "Josefin Sans";
    src: url('./fonts/JosefinSans-SemiBold.ttf') format('ttf');
    src: url('./fonts/JosefinSans-Light.ttf') format('ttf');
}
*{
    margin: auto;
    font-family: "Josefin Sans";
}
body {
    margin: 0;
}

.secondary-block {
    background-color: rgb(85, 214, 194);
    color: white;
}
.div-header {
    height: 6vmax;
    display: flex;
}

.ul-header {
    margin: 20px 20px 10px auto;
    display: inline-flex;
    list-style-type: none;
    padding: 0px;

}
.li-header {
    list-style: none;
    border-radius: 50px;
}
.a-header {
    text-decoration: none;
    color: white;
    font-size: 1.6vmax;
    font-weight: bold;
    margin: 15px;
    display: inline-block;
}
.li-header:hover{
    background-color: rgb(0, 204, 255);
}
.h1-header {
    font-size: 2.5vmax;
    margin: 26px 0px 5px 40px;
}

.div-accueil{
    display: flex;
    width: 100%;
    height: 55vmax;
    justify-content: center;
    align-items: center;
    background-image: url(./img/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.p-a{
    font-size: 3vmax;
    text-align: center;
    font-weight: bold;
}
.span-a{
    font-size: 2vmax;
    font-weight: lighter;
}

#propos {
    width: 100%;
    height: 40vmax;
}
.h3-propos {
    font-size: 1.7vmax;
}
main {
    width: 57%;
    height: 25vmax;
    float: left;
    margin: 5% 0px 1% 7%;
}
aside{
    width: 30%;
    height: 27vmax;
    float: right;
    margin: 5% 0px;
}

.p-text {
    text-align: justify;
    font-size: 1.5vmax;
    font-weight: lighter;
}

.comment {
    padding: 7% 8% 3%;
    font-size: larger;
}
.service {
    text-align: center;
    display: flex;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.s-s{
    height: 40vmax;
}
.box-s {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform-origin: top left;
    vertical-align: middle;
}
.box-s img{
    max-width: 100%;
}

.s-info {
    font-family: 'Josefin Sans Light';
    font-size: 1.3em;
}
.margin-box {
    margin-bottom: 7%;
}

button {
    font-family: 'Josefin Sans Light';
    margin: 0px 0px 45px;
    color: rgb(85, 214, 194);
    border: 2px solid;
    border-radius: 14px;
    font-size: 30px;
    background-color: white;
    padding: 2px 12px 5px;
}

footer {
    display: flex;
    height: 17vmax;
}
.address {
    padding: 2% 8%;
}
.add{
    margin: 15% 0px;
}
.p-add {
    font-size: 1.3vmax;
}
.contact {
    margin-left: auto;
    padding: 5% 14%;
}
form {
    display: inline-grid;
}
input, label {
    margin: 3%;
}
label {
    font-size: 1.6vmax;
}
.submit {
    font-size: larger;
    color: white;
    background-color: rgb(85, 214, 194);
    font-family: "Josefin Sans";
    border-radius: 14px;
    padding: 2px 12px 5px;
    border: 2px solid
}
.submit:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.mail {
    font-size: large;
}